<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.testois">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ois_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ois_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TestOIS">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".CourierViewOrder"
            android:exported="false" />
        <activity
            android:name=".CourierDashboardOrder"
            android:exported="false" />
        <activity
            android:name=".DrawerBaseActivity"
            android:exported="false" />
        <activity
            android:name=".CourierDrawerBaseActivity"
            android:exported="false" />
        <activity
            android:name=".ViewInventory"
            android:exported="false" />
        <activity
            android:name=".DashboardInventory"
            android:exported="false" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".CourierDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ViewOrder"
            android:exported="false" />
        <activity
            android:name=".DashboardOrders"
            android:exported="false" />
        <activity
            android:name=".ReportGenerationMenu"
            android:exported="false" />
        <activity
            android:name=".simplenavi"
            android:exported="false" />
        <activity
            android:name=".ViewPagerActivity"
            android:exported="false" />
        <activity
            android:name=".UserTutorial"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.TestOIS">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>